

<div class="row">
    <div class="col col-lg-6 mx-auto">
        <h5>Registered</h5>
        <div class="alert alert-info">
            Thank you for registering! Please click on the link in the verification email to activate your account.
        </div>
    </div>
</div>

