

<div class="row">
    <div class="col col-lg-8 mx-auto">
        <h5>Email confirmed</h5>
        <div class="alert alert-primary" role="alert">
          Your email has been confirmed. You can 
            <a asp-controller="Account"
               asp-action="Login"
               asp-area="Account"
               class="alert-link">
               log in</a> if you like.
        </div>
    </div>
</div>

